<div class="jsonblobMenu">
  <div class="jsonblobMenu__headerContainer">
    <a class="jsonblobMenu__headerText"
      href='https://jsonblob.com/'
      target='_blank'>
      JSON-blob
    </a>
  </div>
  <div class="jsonblobMenu__jsonEditorContainer">
    <div class="jsonblobMenu__jsonEditor"></div>
  </div>
  <div class="jsonblobMenu__blobDisplay">
    <p class="jsonblobMenu__blobDisplayText">
      Saved blobs
    </p>
    <p class='jsonblobMenu__addBlob'>
      &#43; <span class='jsonblobMenu__addBlobText'>Add Blob</span>
    </p>
    <p class='jsonblobMenu__clearBlobs'>
      &times; <span class='jsonblobMenu__clearBlobsText'>Clear All Blobs</span>
    </p>
    <div class="jsonblobMenu__blobs"></div>
  </div>
</div>
