#jsonblobMenuContainer {
  font-family: sans-serif !important;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  z-index: 100000000000000;
  background-color: white;
  border: 1px solid black;
}
