body {
  width: 400px;
  height: 200px;
  background-color: #DB5600;
  font-family: "Roboto", "sans-serif";
  color: white;
}

.searchBar {
  font-size: 16px;
}

.searchBar__text {
  font-weight: normal;
  font-size: 1.5rem;
}

.searchBar__input {
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid white;
  background-color: #DB5600;
  color: white;
  text-align: center;
}

.searchBar__input:focus {
  outline: none;
}
